.main_container {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1;
}

.main_container .main_left {
  padding-right: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.main_container .main_left input {
  width: 100%;
  padding: 7px;
}

.main_container .main_right {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 17px;
}

.main_container .main_right .unit__container p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_container .main_right .unit__container img {
  width: 100%;
  object-fit: contain;
}
